:root {
  --img-size: 150px;
  --img-border-radius: 10px;
}

#RecommendsationsDisplay .songGridContainer {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: auto auto auto;
  margin-right: 8vw;
  margin-top: 100px;
}

#RecommendsationsDisplay .grid-item img {
  width: var(--img-size);
  height: var(--img-size);
  border-radius: var(--img-border-radius);
  box-shadow: rgba(149, 157, 165, 0.5) 0px 0px 24px;
}

#RecommendsationsDisplay .grid-item {
  position: relative;
}

#RecommendsationsDisplay .grid-item span {
  display: none;
}

#RecommendsationsDisplay .grid-item:hover span {
  width: var(--img-size);
  height: var(--img-size);
  border-radius: var(--img-border-radius);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(10, 10, 10, 0.7);
  color: white;
  font-weight: bold;
  padding: 0 5px;
  box-sizing: border-box;
  top: 0;
  left: 0;
}
