#RecommendsationsDisplay .songGridContainer {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: auto auto auto;
  margin-right: 8vw;
  margin-top: 100px;
}

#RecommendsationsDisplay .grid-item img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 0px 24px;
}

#RecommendsationsDisplay .grid-item span {
  display: none;
}

#RecommendsationsDisplay .grid-item:hover span {
  display: block;
}

/* @media only screen and (max-width: 1080px) { */
/*   #RecommendsationsDisplay .grid-item img { */
/*     width: 90px; */
/*     height: 90px; */
/*     border-radius: 7px; */
/*     box-shadow: rgba(149, 157, 165, 0.5) 0px 0px 24px; */
/*   } */
/**/
/*   #RecommendsationsDisplay .songGridContainer { */
/*     display: grid; */
/*     column-gap: 10px; */
/*     row-gap: 10px; */
/*     grid-template-columns: auto auto auto; */
/*     margin: 50px auto 80px; */
/*     width: 77%; */
/*   } */
/* } */
