#LyricViewer div label {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}

#LyricViewer div input {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 8px 15px;
  background-color: #e8e8e8;
  width: 200px;
}

#LyricViewer div button {
  padding: 8px 15px;
  background-color: #ff5757;
  border-radius: 4px;
  border: none;
  margin-left: 10px;
  font-weight: bold;
}

#LyricViewer div button:hover {
  cursor: pointer;
}

.search-result-item {
  margin: 10px 0;
}

#loading-spinner {
  width: 100px;
  height: 100px;
  margin-top: 100px;
}

#search-results-container {
  margin: 20px 0 50px 0;
}

@media only screen and (min-width: 768px) {
  #LyricViewer div input {
    width: 300px;
  }

  .search-result-item {
    width: 800px;
    margin: 10px auto;
    animation: transform ease-in-out;
    transition: 0.3s;
  }

  .search-result-item:hover {
    transform: translateX(10px);
  }

  #lyrics-search-container div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #lyrics-loading-spinner {
    width: 50px;
    margin-left: 10px;
  }

  .spacer {
    padding-bottom: 20px;
  }
}
