.PromodoroContainer h1 {
  font-size: 90px;
  font-family: 'Avenir';
  font-weight: 900;
}

#timerBottomButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#timerStartBtn {
  background-color: #ff5757;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 20px;
  margin-right: 25px;
}

#timerResetBtn {
  background-color: #ff5757;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 20px;
}

#timerStartBtn:hover,
#timerResetBtn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1180px) {
  .PromodoroContainer h1 {
    font-size: 70px;
  }
  #timerStartBtn,
  #timerResetBtn {
    font-size: 16px;
    padding: 5px 16px;
  }
}
